{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}

<div class="container">
        <h1 class="font-italic">NEWS HIGHLIGHTS SOURCES</h1>
<!--SOURCES-->
       
       <h3>SPORTS</h3>
       <ul>
               
   
          {{ macro.displaySourceList(news) }}
        </ul>
        <h3>ENTERTAINEMENT</h3>
       <ul>
               
   
          {{ macro.displaySourceList(news1) }}
        </ul>
        <h3>BUSINESS</h3>
       <ul>
               
   
          {{ macro.displaySourceList(news2) }}
        </ul>
</div>
{% endblock%}

  
