{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <h3><strong>{{ source.name}}</strong></h3>
        <p>{{source.description}}</p>
        <a href="{{ source.sourceurl}}"><button type="button" class="btn btn-light">{{source.name}} website</button></a>
        <a href="/everything/{{source.id}}"> <button  type="button" class="btn btn-secondary">click to view articles</button></a>
       
    {% endfor %}
{% endmacro %}  
<div class="container">
{% macro displayArticleList(article_list) %}

    <div class="row">
       
    {% for art in article_list %}
    <div class="col-md-4">
        <p><strong>Author's name:</strong>{{ art.author}}</p>
        <p><strong>Article's title:</strong>{{ art.tittle}}</p>
        <p><img src='{{ art.imageurl }}' width=130 height=100></p>
        <p>{{art.description}}</p>
        <p><strong>publishedAt:</strong>{{ art.time}}</p>

       <a href="{{art.url}}"><button type="button" class="btn btn-info">click to view more details</button></a> 
    </div>
       {% endfor %}

</div> 

{% endmacro %}


</div>