{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <h3><strong>{{ source.name}}</strong></h3>
        <p>{{source.description}}</p>
        <a href="{{ source.sourceurl}}"><button>{{source.name}} website</button></a>
        <a href="/everything/{{source.id}}"> <button >click to view articles</button></a>
       
    {% endfor %}
{% endmacro %}    

{% macro displayArticleList(article_list) %}

    {% for art in article_list %}
        <li>{{ art.author}}</li>
        <li>{{ art.tittle}}</li>
        <li><img src='{{ art.imageurl }}'></li>
        <li>{{art.description}}</li>
        <li>{{ art.time}}</li>

       <a href="{{art.url}}"><button >click to view more details</button></a> 
    {% endfor %}    

{% endmacro %}